# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
<!--       <h1>{{config.CONFIG_DB.brand_name}}</h1> -->
      <h1> Flask start </h1>
      <p>Demo of a CRUD table with flask and google app engine python</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><a href="https://cloud.google.com/appengine/downloads">Google App Engine SDK</a></h2>
      <p>Download a local python web server to develop your app. Install <a href="https://www.python.org/downloads/">Python 2.7.X</a> before this SDK.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><a href="https://console.cloud.google.com">Console Google cloud</a></h2>
      <p>Manage your Google app engine projects</p>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-3">
      <h2><a href="https://cloud.google.com/appengine/docs/python/ndb/#queries">Learn Google Datastore</a></h2>
      <p>Free offer of google app engine requires to use the specific google database called datastore.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><a href="https://github.com/gae-init/gae-init">gae_init</a></h2>
      <p>gae-init is the easiest way to kick start new web applications on Google App Engine, with everything that you need to start working on your next big thing right away!</p>
    </div>
  </div>
# endblock
